html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0px;
}

.table-odd-bg {
    background-color: #edebeb;
    box-shadow: 0px 0px 14px 0px rgba(148, 145, 148, 1);
    border-collapse: collapse;
    margin: 3em auto;
    width: 50%;
}

.table-odd-bg td,
.table-odd-bg th {
    border: 1px solid #706f6f;
    cursor: pointer;
    padding: 0.5em;
    transition: all 0.3s;
}

.table-odd-bg tr:nth-child(even) {
    background-color: #b9dbd4;
}

.table-odd-bg tr:hover {
    background-color: rgba(251, 85, 146, 0.2);
}

.table-odd-bg td:hover {
    background-color: rgba(251, 85, 146, 0.5);
}

.table-odd-bg th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #adacac;
    color: white;
}